# Temporary files (editors or configuration files)
*~
.*

configure
Makefile
env_TrioCFD.sh
full_env_TrioCFD.sh
TrioCFD
TrioCFD_opt
TrioCFD_semi_opt
README.BALTIK
index.html
build/
local/
__pycache__
