*.log
build/
.check_sources.ok
configure
env_TrioCFD.sh
full_env_TrioCFD.sh
TrioCFD
TrioCFD_opt
TrioCFD_semi_opt
Makefile
README.BALTIK
index.html
.test*
Lois_eau_c3.h.bak
Lois_R12_c1.h.bak
local/

# Eclipse
.cproject
.project
.settings/
